### FTP 
ftp://ftp.kuicr.kyoto-u.ac.jp/moriya/kaas_sa/index.html

### number of CPU for blastall (default : 1)
cpu=4

### blast+ or legacy blast path (comment out a line)
#blast_plus_path=./blast_plus/bin
legacy_blast_path=/usr/bin

### hmmsearch path
hmmsearch=/bin/hmmsearch

### threshold
## BBH
# bit score for BLOSUM 62 (>=30)
bit_b = 60
# % identity (>=0, <=100)
pid_b = 35
# e-value (>0, or "inf", ex: "evl_b = 1e-10")
evl_b = inf

## SBH
# bit score for BLOSUM 62 (>=30)
bit_s = 60
# bit score for PAM 30 (>=25)
bit_p = 35
# % identity (>=0, <=100)
pid_s = 35
# e-value (>0, or "inf", ex: "evl_s = 1e-10")
evl_s = inf

# BHR (bi-directional hit rate)
bhr = 0.95
